<h1>Client</h1>
<script src="/socket.io/socket.io.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var socket = io();
    setTimeout(function(){
        wx.closeWindow()
    },2000)
    socket.emit('next',null,function(){
    })

</script>